* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    background: #fff;
    color: #111;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background: #000;
    height: 70px;
    transition: 0.4s ease;
    overflow: visible;
    z-index: 10000;
    position: relative;

}

header {
    position: sticky;
    top: 0;
    z-index: 10000;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
    padding: 0 40px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.logo img {
    height: 35px;
    display: block;
    transition: 0.4s ease;
}

.menu-toggle {
    display: none;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    z-index: 1001;
}

header:hover .menu-toggle i {
    color: #000;
}

@keyframes slideDownFade {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.logo,
.menu-toggle,
.menu li,
.header-icons i {
    opacity: 0;
    transform: translateY(-20px);
}

header.show .logo,
header.show .menu-toggle,
header.show .menu li,
header.show .header-icons i {
    animation: slideDownFade 0.6s ease forwards;
}

header.show .logo {
    animation-delay: 0.1s;
}

header.show .menu-toggle {
    animation-delay: 0.2s;
}

header.show .menu li:nth-child(1) {
    animation-delay: 0.3s;
}

header.show .menu li:nth-child(2) {
    animation-delay: 0.4s;
}

header.show .menu li:nth-child(3) {
    animation-delay: 0.5s;
}

header.show .menu li:nth-child(4) {
    animation-delay: 0.6s;
}

header.show .menu li:nth-child(5) {
    animation-delay: 0.7s;
}

header.show .menu li:nth-child(6) {
    animation-delay: 0.8s;
}

header.show .header-icons i:nth-child(1) {
    animation-delay: 0.9s;
}

header.show .header-icons i:nth-child(2) {
    animation-delay: 1s;
}

.search-bar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 70px;
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(-100%);
    transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);

    z-index: 9999;
}

.search-bar.active {
    transform: translateY(0);
}

.search-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 40px;

    display: flex;
    align-items: center;
    gap: 30px;
}

.search-container input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
}

.search-container i {
    font-size: 18px;
    cursor: pointer;
}

.overlay-search {
    position: fixed;
    top: 140px;
    left: 0;
    width: 100%;
    height: calc(100vh - 140px);

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

    z-index: 9998;
}

.overlay-search.active {
    opacity: 1;
    visibility: visible;
}

body.no-scroll {
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -280px;
    width: 260px;
    height: 100vh;
    background: #fff;
    padding: 80px 20px;
    box-shadow: 5px 0 25px rgba(0, 0, 0, 0.08);
    transition: left 0.4s cubic-bezier(0.22, 1, 0.36, 1);
    z-index: 10001;
}

.sidebar.active {
    left: 0;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    transition: transform 0.3s ease;

}

.sidebar li:hover {
    color: #7e7e7e;
    transform: translateX(3px) !important;
}

.has-submenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    padding: 14px 0;
}

.has-submenu i {
    font-size: 14px;
    transition: transform 0.3s ease;
}

.has-submenu:hover i {
    transform: translateX(3px) !important;
    color: #7e7e7e;
}

.sidebar a {
    color: #111;
    font-weight: 600;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s;
    z-index: 999;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.sidebar-close {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 22px;
    cursor: pointer;
}

.sidebar-close i {
    transition: 0.3s ease;
}

.sidebar-close i:hover {
    transform: rotate(90deg);
}

.sidebar {
    overflow: hidden;
}

/* CONTENEDORES INTERNOS */
.sidebar-main,
.sidebar-submenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 60px 20px;
    transition: transform 0.35s ease;
}

/* ESTADO */
.sidebar-main {
    transform: translateX(0);
}

.sidebar-submenu {
    transform: translateX(100%);
}

/* ACTIVAR SUBMENU */
.sidebar-submenu.active {
    transform: translateX(0);
}

.sidebar-main.hide {
    transform: translateX(-100%);
}

.submenu-header {
    position: absolute;
    top: 25px;
    left: 20px;
    right: 20px;
}

.back-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
}

.back-btn i {
    font-size: 16px;
}


.menu {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 45px;
    list-style: none;
}

.menu li {
    position: relative;
}

.menu a {
    color: #fff;
    font-weight: 600;
    padding: 5px 0;
    display: inline-block;
}

.menu-line {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #fff;
    left: 0;
    transition: all 0.35s ease;
}

header:hover .menu-line {
    background: #000;
}

.header-icons {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.header-icons i {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.header-icons i:hover {
    transform: scale(1.1);
}

header:hover {
    background: #f5f5f5;
}

header:hover .menu a,
header:hover .header-icons i {
    color: #000;
}

header:hover .logo img {
    filter: invert(1);
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 52px;
    left: 0;

    background: #fff;
    min-width: 220px;
    padding: 15px 0;

    list-style: none;

    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);

    transition: all 0.5s ease;
    z-index: 9999;
}

.dropdown-menu li {
    padding: 8px 20px;
}

.dropdown-menu a {
    color: #000000;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    display: block;
    transition: 0.2s ease;
}

.dropdown-menu a:hover {
    padding-left: 5px;
    color: #7e7e7e !important;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.hero {
    position: relative;
    height: 80vh;
    overflow: visible;
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
}

.dot {
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.dot.active {
    background: #fff;
    transform: scale(1.2);
}

.scroll-down {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}

.scroll-down a {
    width: 50px;
    height: 50px;

    background: #fff;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 .125rem .625rem rgba(0, 0, 0, 0.10);

    z-index: 10;
    transition: all 0.3s ease;
}

.scroll-down i {
    font-size: 18px;
    color: #000;
    transition: transform 0.3s ease;
}

.scroll-down a:hover i {
    transform: translateY(4px);
}

@keyframes floatArrow {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(4px);
    }

    100% {
        transform: translateY(0);
    }
}

.scroll-down i {
    animation: floatArrow 2s infinite ease-in-out;
}

.lineas {
    padding: 70px 5%;
    text-align: center;
    margin: auto;
}

.sub {
    font-size: 12px;
    color: #777;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.lineas h2 {
    margin-bottom: 40px;
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 700;
}

.grid-lineas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 12.5px;
}

.card-linea {
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.card-linea {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.card-linea.show {
    opacity: 1;
    transform: translateY(0);
}

.img-wrapper {
    position: relative;
    overflow: hidden;
    aspect-ratio: 3 / 5;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.9s cubic-bezier(0.22, 1, 0.36, 1);
}

.badge {
    position: absolute;
    top: 12px;
    left: 12px;
    background: #000;
    color: #fff;
    font-size: 10px;
    padding: 5px 10px;
    letter-spacing: 2px;
    font-weight: 600;
    z-index: 2;
}

.card-linea h3 {
    margin-top: 20px;
    font-size: clamp(13px, 1.1vw, 15px);
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.card-linea:hover img {
    transform: scale(1.15) rotate(-4deg);
}

.catalogo-cta {
    margin-top: 50px;
    text-align: center;
}

.btn-expand {
    display: inline-flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    height: 40px;
    padding: 0 20px;
    border-radius: 50px;

    background: #fff;
    border: 1.5px solid #000;
    color: #000;

    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;

    transition: all 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.btn-expand .text {
    z-index: 2;
    transition: color 0.4s ease;
}

.btn-expand .circle {
    position: absolute;
    right: -50px;

    width: 32px;
    height: 32px;

    border-radius: 50%;
    background: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

/* ICONO */
.btn-expand .circle i {
    color: #000000;
    font-size: 14px;
}

/* HOVER */
.btn-expand:hover {
    background: #000;
    color: #fff;
    padding-right: 55px;
}

.btn-expand:hover .circle {
    right: 3px;
}

.beneficios {
    background: #000;
    color: #fff;
    padding: 80px 10%;
    text-align: center;
}

.beneficios h2 {
    font-size: 32px;
    margin-bottom: 50px;
    letter-spacing: 2px;

    opacity: 0;
    transform: translateY(-40px);
    transition: all 0.8s ease;
}

.beneficios h2.show {
    opacity: 1;
    transform: translateY(0);
}

.beneficio {
    max-width: 260px;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.beneficio.show {
    opacity: 1;
    transform: translateY(0);
}

.beneficios-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    justify-items: center;
}

.beneficio {
    max-width: 260px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
    will-change: transform, opacity;
}

/* ACTIVAR ANIMACION */
.beneficio.show {
    opacity: 1;
    transform: translateY(0);
}

/* ICONO */
.beneficio i {
    font-size: 50px;
    margin-bottom: 20px;
    color: #ffdd00;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon-mas {
    font-size: 20px !important;
    color: #ffffff !important;
}

.beneficio:hover i {
    transform: scale(1.3);
    color: #ffd700;
}

.beneficio h4 {
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}

.beneficio .counter {
    font-weight: 700;
    font-size: 28px;
    color: #ffdd00;
    display: inline-block;
}

.beneficio p {
    font-size: 14px;
    color: #ccc;
    line-height: 1.5;
}

footer {
    background: #010101;
    color: #fff;
    padding: 60px 40px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

footer ul {
    list-style: none;
}

footer li {
    margin-bottom: 12px;
    font-size: 14px;
    color: #ccc;
    gap: 15px;
    display: flex;
}

footer strong {
    color: #fff;
}

.social i {
    margin-right: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.social i:hover {
    transform: translateY(-3px);
    color: #fff;
}

.copy {
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
    color: #777;
}

.social i {
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.copy {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    color: #aaa;
}

.visita-local {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: "Nunito", sans-serif;
}

.visita-local .fondo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.visita-local .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.contenido-visita {
    position: relative;
    z-index: 2;
    color: #fff;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s forwards 0.2s;
}

.mejor-semana {
    padding: 70px 12.5%;
}

.titulo-seccion {
    text-align: center;
    margin-bottom: 60px;
}

.titulo-seccion .sub {
    font-size: 12px;
    letter-spacing: 1px;
    color: #777;
    text-transform: uppercase;
}

.titulo-seccion h2 {
    font-size: 26px;
    letter-spacing: 2px;
}

.producto-destacado {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 70px;
    align-items: start;
}


.galeria-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 900px;
}

.img-box {
    aspect-ratio: 3 / 5;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-box:hover img {
    transform: scale(1.05);
}

.info-producto {
    position: sticky;
    top: 100px;
    align-self: start;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.info-producto h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.colores-titulo {
    font-size: 16px;
    margin-bottom: 20px;
    color: #777;
    text-transform: uppercase;
    margin-top: 15px;
}

.colores {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    max-width: 320px;
}

.color {
    width: 30px;
    height: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: 0.2s ease;
}

.color:hover {
    transform: scale(1.1);
    border-color: #000;
}

.color.activo {
    border: 2px solid #ff0000;
}

.botones-producto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    align-items: center;
}

.btn-cuadrado {
    width: 100%;
    padding: 12px;
    border: 1px solid #000;
    background: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-cuadrado:hover {
    background: #000;
    color: #fff;
}

.descripcion-wrapper {
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
}

.descripcion-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    color: #000 !important;
}

.descripcion-toggle span {
    color: #000 !important;
}

.icono {
    font-size: 20px;
    transition: transform 0.3s ease;
}

.descripcion-contenido {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.3s ease;
}

.descripcion-wrapper.active .descripcion-contenido {
    max-height: 500px;
}

.descripcion-wrapper.active .icono {
    transform: rotate(45deg);
}

.lista-especificaciones {
    margin-top: 15px;
    padding-left: 18px;
    margin-bottom: 20px;
}

.lista-especificaciones li {
    margin-bottom: 6px;
    font-size: 14px;
    color: #444;
}

.sku,
.categoria {
    font-size: 13px;
    color: #666;
    margin: 6px 0;
}

.gramaje {
    margin-top: 15px;
    margin-bottom: 40px;
}

.gramaje-titulo {
    font-size: 16px;
    margin-bottom: 20px;
    color: #777;
    text-transform: uppercase;
    margin-top: 10px;
}

.gramaje-opciones {
    display: flex;
    gap: 10px;
}

.gramaje-item {
    padding: 8px 14px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s ease;
}

.gramaje-item:hover {
    border-color: #000;
}

.gramaje-item.active {
    background: #000;
    color: #fff;
    border-color: #000;
}

.flecha {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 14px;
}

.btn-secundario {
    width: 100%;
    padding: 12px;
    border: 1px solid #000;
    background: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}


.btn-secundario:hover {
    background: #000;
    color: #fff;
}

@media (max-width: 900px) {

    .producto-destacado {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .info-producto {
        position: relative;
        top: auto;
    }

    .galeria-grid {
        height: auto;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .img-box {
        aspect-ratio: 3 / 4;
    }

}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contenido-visita h2 {
    font-size: 36px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.contenido-visita p {
    font-size: 16px;
    margin-bottom: 25px;
}

.btn-visita {
    display: inline-block;
    padding: 12px 30px;
    background: #ffdd00;
    color: #000;
    font-weight: 700;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}

.btn-visita:hover {
    background: #fff;
    transform: scale(1.05);
}

.btn-whatsapp {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 52.5px;
    height: 52.5px;
    background: #25D366;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 9999;
}

.btn-whatsapp:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}



/* ===============================
   NOSOTROS 
=================================*/

.hero-nosotros {
    height: 50vh;
    max-height: 462px;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url('../imgs/fondo-2.jpg') center/cover no-repeat;
    border-radius: 28px;
    margin: 50px auto;
    width: 95%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    color: white;
    box-shadow: 0 40px 90px rgba(0, 0, 0, 0.18);
    padding: 80px;

}

.hero-container {
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    max-width: 550px;
}

.hero-badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: rgba(255, 255, 255, 0.15);
    padding: 8px 18px;
    border-radius: 50px;
    font-size: 14px;
    margin-bottom: 20px;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}

.hero-left p {
    font-size: 17px;
    line-height: 1.6;
    opacity: 0.9;
    margin-bottom: 30px;
}

.hero-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: #c9975b;
    padding: 14px 28px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.hero-btn:hover {
    transform: translateY(-4px);
    background: #b88545;
}

.nosotros {
    background: #fbfbfb;
    overflow-x: hidden;

}

.nosotros-tit {
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.nosotros-tit {
    position: relative;
    z-index: 5;
    margin-bottom: 30px;
}

.text-hero-nos {
    margin-top: 5px;
    margin-bottom: 30px;
}

.nosotros-tit {
    opacity: 0;
    transform: translateY(40px);
    filter: blur(6px);
    transition: all 0.8s ease;
}

.nosotros-tit.show {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

.nosotros-modern {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 140px;
    align-items: center;
}

.line{
    border: 1px solid #000;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-modern {
    position: relative;
    max-width: 95%;
    display: flex;
    align-items: flex-start;
}

.row-modern.reverse {
    flex-direction: row-reverse;
}

.card {
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 14px 16px #0000000f;
    transition: 0.4s ease;
}


.flip-card {
    perspective: 1200px;
}

.flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    transform-style: preserve-3d;
}

.flip-front,
.flip-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flip-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}

.flip-card.active .flip-inner {
    transform: rotateY(180deg);
}

.flip-btn {
    margin-top: auto;
    padding: 10px 22px;
    border: 1px solid #111;
    background: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}

.flip-btn:hover {
    background: #111;
    color: #fff;
}

.card-content {
    padding: 55px 60px;
    background: #fff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.06);
    position: relative;
    top: -20px;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.card-header i {
    font-size: 32px;
    color: #b48a5a;
}

.card-header h2 {
    font-size: 30px;
    margin: 0;
}

.card-label {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #b48a5a;
    font-weight: 700;
    margin-bottom: 15px;
}

.card-icon {
    font-size: 38px;
    color: #b48a5a;
    margin-bottom: 15px;
}

.card-content h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.card-line {
    width: 60px;
    height: 3px;
    background: #b48a5a;
    margin: 0px 0 20px 0;
}

.card-content p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 20px;
    color: #444;
}

.card-list {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
}

.card-list li {
    margin-bottom: 10px;
    padding-left: 22px;
    position: relative;
    font-size: 15px;
    color: #555;
}

.card-list li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #b48a5a;
    font-size: 20px;
    line-height: 1;
}

/* botón */
.card-btn {
    display: inline-block;
    padding: 10px 22px;
    border: 1px solid #111;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s ease;
}

.card-btn:hover {
    background: #111;
    color: #fff;
}

.historia-img {
    width: 625px;
    height: 520px;
    transform: translateY(40px);
    z-index: 1;
}

.historia-text {
    width: 495px;
    min-height: 552px;
    transform: translateY(-40px);
    margin-left: -100px;
    padding: 65px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.mision-img {
    width: 625px;
    height: 520px;
    transform: translateY(30px);
    box-shadow: none;
    z-index: 1;

}

.mision-text {
    width: 495px;
    height: 552px;
    margin-right: -80px;
    transform: translateY(-50px);

    padding: 70px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.vision-img {
    width: 625px;
    height: 625px;
    transform: translateY(-70px);
    z-index: 1;
}

.vision-text {
    width: 495px;
    min-height: 552px;
    transform: translateY(70px);
    margin-left: -150px;
    padding: 70px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-img-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: right;
}

.card-content i {
    font-size: 42px;
    margin-bottom: 25px;
    color: #1b1b1b;
}

.card-content h2 {
    font-size: 34px;
    margin-bottom: 20px;
    font-weight: 700;
}

.card-content p {
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
    font-weight: 600;
    max-height: 220px;
    overflow: auto;
}

.hero-animate {
    animation: heroFade 1s ease forwards;
}

.hero-nosotros {
    opacity: 0;
    transform: translateY(40px);
}

@keyframes heroFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-left>* {
    opacity: 0;
    transform: translateY(30px);
}

.hero-left.animate>* {
    animation: fadeUp 0.8s ease forwards;
}

.hero-left.animate>*:nth-child(1) {
    animation-delay: 0.4s;
}

.hero-left.animate>*:nth-child(2) {
    animation-delay: 0.6s;
}

.hero-left.animate>*:nth-child(3) {
    animation-delay: 0.8s;
}

.hero-left.animate>*:nth-child(4) {
    animation-delay: 1s;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.row-modern .card-img,
.row-modern .card-img-2,
.row-modern .card-content {
    opacity: 0;
    transition: transform 1.8s cubic-bezier(0.16, 1, 0.3, 1),
        opacity 0.8s ease;
    will-change: transform, opacity;
}

.row-modern .card-img,  
.row-modern .card-img-2 {
    transform: translateX(-120px);
}

.row-modern .card-content {
    transform: translateX(120px);
}

.row-modern.reverse .card-img,
.row-modern.reverse .card-img-2 {
    transform: translateX(120px);
}

.row-modern.reverse .card-content {
    transform: translateX(-120px);
}

.row-modern.show .card-img,
.row-modern.show .card-img-2,
.row-modern.show .card-content {
    opacity: 1;
    transform: translateX(0);
}

.row-modern.show .card-content {
    transition-delay: 0.6s;
}

.row-modern .card-content {
    position: relative;
    top: -70px;
}

.section-divider {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.section-divider svg {
    display: block;
    width: 100%;
    height: 90px;
}

.section-divider path {
    fill: #ffffff; 
}

.line-decor {
    width: 85%;
    height: 3px;
    background: linear-gradient(to right, transparent, #000, transparent);
    margin: 60px auto 20px auto;
}


.line-decor-2 {
    width: 80%;
    height: 3px;
    background: linear-gradient(to right, transparent, #000, transparent);
    margin: -90px auto 10px auto;
}

.line-decor-3 {
    width: 80%;
    height: 3px;
    background: linear-gradient(to right, transparent, #000, transparent);
    margin: -85px auto 20px auto;
}

#historia,
#mision,
#vision {
    scroll-margin-top: 300px;
}

@media (max-width: 768px) {

    .lineas {
        padding: 40px 20px;
    }

    .grid-lineas {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .card-linea {
        max-width: 90%;
    }

    .img-wrapper {
        aspect-ratio: 3 / 1;
        width: auto;
    }

    .container {
        grid-template-columns: auto 1fr auto;
    }

    .menu {
        display: none;
    }

    .header-icons {
        display: flex;
        gap: 20px;
    }

    .menu-toggle {
        display: block;
    }

    .logo {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    footer {
        padding: 40px 20px;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .social {
        justify-content: center;
    }

    .visita-local {
        height: 60vh;
        padding: 0 20px;
    }

    .contenido-visita h2 {
        margin-bottom: 10px;
    }

    .contenido-visita p {
        margin-bottom: 15px;
    }

    .btn-visita {
        padding: 12px 25px;
        font-size: 14px;
    }

    .row-modern {
        flex-direction: column !important;
        align-items: center;
        gap: 0;
        max-width: 90%;
    }

    .card {
        width: 92% !important;
        height: auto !important;
        transform: none !important;
        margin: 0 !important;
    }

    .card-img {
        border-radius: 28px 28px 0 0;
    }

    .card-content {
        border-radius: 0 0 28px 28px;
        margin-top: -20px;
        padding: 40px;
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.08);
    }

    .nosotros-modern {
        padding: 30px 0;
    }

    .hero-nosotros {
        width: 85%
    }

    .line-decor-2 {
        margin: -120px auto -50px auto;
    }

    .line-decor-3{
        margin: -120px auto -50px auto;

    }
}
