.hero-interno {
    height: 40vh;
    background: url('../imgs/fondo-1.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: #fff;
}

.hero-interno::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.hero-contenido {
    position: relative;
    z-index: 2;
}

.nosotros-content {
    padding: 80px 10%;
}

.nosotros-content h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.nosotros-content p {
    margin-bottom: 40px;
    line-height: 1.7;
    color: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    background: #fff;
    color: #111;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background: #000;
    height: 70px;
    transition: 0.4s ease;
    overflow: visible;
    z-index: 10000;
    position: relative;

}

header {
    position: sticky;
    top: 0;
    z-index: 10000;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
    padding: 0 40px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.logo img {
    height: 35px;
    display: block;
    transition: 0.4s ease;
}

.menu-toggle {
    display: none;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    z-index: 1001;
}

header:hover .menu-toggle i {
    color: #000;
}

@keyframes slideDownFade {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.logo,
.menu-toggle,
.menu li,
.header-icons i {
    opacity: 0;
    transform: translateY(-20px);
}

header.show .logo,
header.show .menu-toggle,
header.show .menu li,
header.show .header-icons i {
    animation: slideDownFade 0.6s ease forwards;
}

header.show .logo {
    animation-delay: 0.1s;
}

header.show .menu-toggle {
    animation-delay: 0.2s;
}

header.show .menu li:nth-child(1) {
    animation-delay: 0.3s;
}

header.show .menu li:nth-child(2) {
    animation-delay: 0.4s;
}

header.show .menu li:nth-child(3) {
    animation-delay: 0.5s;
}

header.show .menu li:nth-child(4) {
    animation-delay: 0.6s;
}

header.show .menu li:nth-child(5) {
    animation-delay: 0.7s;
}

header.show .menu li:nth-child(6) {
    animation-delay: 0.8s;
}

header.show .header-icons i:nth-child(1) {
    animation-delay: 0.9s;
}

header.show .header-icons i:nth-child(2) {
    animation-delay: 1s;
}

.search-bar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 70px;
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(-100%);
    transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);

    z-index: 9999;
}

.search-bar.active {
    transform: translateY(0);
}

.search-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 40px;

    display: flex;
    align-items: center;
    gap: 30px;
}

.search-container input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
}

.search-container i {
    font-size: 18px;
    cursor: pointer;
}

.overlay-search {
    position: fixed;
    top: 140px;
    left: 0;
    width: 100%;
    height: calc(100vh - 140px);

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

    z-index: 9998;
}

.overlay-search.active {
    opacity: 1;
    visibility: visible;
}

body.no-scroll {
    overflow: hidden;
}
